<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.worshipMapper">
	
	<resultMap id="RM_bible" type="Bible">
		<result column="bible_num" property="bibleNum" />
		<result column="bible_long_label" property="bibleLongLabel" />
		<collection property="list" 
					column="bible_num"
					javaType="java.util.ArrayList"
					ofType="ParagraphPerChaper"
					select="selectParagraphPerChapter" />
	</resultMap>
	
	<select id="selectBibleLabel" resultMap="RM_bible">
		select bible_num, bible_long_label from bibles_config 
	</select>
	
	<select id="selectParagraphPerChapter" parameterType="int" resultType="ParagraphPerChaper">
		select bible_num as bibleNum,
			   chapter,
			   count(paragraph) as totalParagraph
	 	  from bible_gaeyeog_gaejeong
	  group by bible_num, chapter
	    having bible_num = #{bible_num}
	  order by bible_num,chapter
	</select>
	
	<select id="selectBibleParagraphes" parameterType="map" resultType="Paragraph">
		select t1.bible_num as bibleNum,
			   t1.chapter,
			   t1.paragraph,
			   t1.sentence,
			   t2.bible_long_label as bibleLongLabel
		  from bible_gaeyeog_gaejeong t1
		       inner join bibles_config t2
		    on t1.bible_num = t2.bible_num
		 where uniq_num >= (select uniq_num from bible_gaeyeog_gaejeong where bible_num=#{fromBibleNum} and chapter=#{fromChapter} and paragraph=#{fromParagraph})
		   and uniq_num <![CDATA[<=]]> (select uniq_num from bible_gaeyeog_gaejeong where bible_num=#{toBibleNum} and chapter=#{toChapter} and paragraph=#{toParagraph})
	</select>
</mapper>
